.ui.table thead th:hover svg path,
.ui.table thead th:hover {
    cursor: pointer;
    fill: black;
    font-weight: bold;
    color: black;
}

.up-icon-hidden {
    visibility: hidden;
    margin-left: 10px;
    display: inline-block;
}

.up-icon-visible {
    margin-left: 10px;
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    .ui.table thead {
      background: #f9fafb;
    }
  }