.email-cell-text {
    overflow: hidden;
    display: block;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.email-cell-text-mobile {
    overflow: hidden;
    display: block;
    font-size: 13px;
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sort-selected {
    font-weight: bold;
    color: black;
}

.mail-icon {
    padding-top: 5px;
    padding-left: 5px;
}

.mail-icon-mobile {
    padding-top: 5px;
}

.ui.label {
    line-height: 0.8;
    margin-top: 5px;
}

.cc-label {
    float: right;
}

.email-date {
    padding-left: 8px;
    font-size: 13px;
    color: #616161;
}

.email-date-expanded {
    padding: 0px 12px 12px 12px;
    font-size: 13px;
    color: #616161;
}

.email-date-attachment {
    float: right;
}

.email-from {
    padding-bottom: 0px!important;
}

.email-cc {
    padding: 12px 12px 0px 12px;
}

.email-subject {
    padding: 12px;
    font-weight: bold;
}

.email-attatchment{
    padding: 12px;
}

.email-to {
    padding-top: 0px!important;
}

.email-info {
    padding-right: 0px!important;
}

.email-info-desktop {
    padding-left: 0px!important;
}

.email-icon-desktop {
    padding-right: 0px!important;
}

.email-body {
    padding: 12px;
    margin-top: 10px;
    background-color: #F5F5F5;
    
}

.email-subject-mobile {
    padding-left: 8px;
}

.email-body-mobile {
    padding: 15px;
    background-color: #F5F5F5;
}

.email-attatchment-mobile, .email-cc-mobile {
    padding-left: 8px;
    font-size: 13px;
}

.email-cell-row:hover svg path, .email-cell-row:hover {
    cursor: pointer;
    color: #0000d6;
    background: #fafaff;
    fill: #0000d6;
}

.email-expanded-row {
    cursor: pointer;
}