.email-cell-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sort-selected {
    font-weight: bold;
    color: black;
}

.email-cell-row:hover svg path,
.email-cell-row:hover {
    cursor: pointer;
    color: #0000d6;
    background: #fafaff;
    fill: #0000d6;
}